$borderColor: #d2d2d2;
$textColor: #404040;

$color1: rgb(87, 190, 151);
$color2: rgb(237, 178, 62);
$color3: rgb(236, 107, 45);
$color4: rgb(196, 57, 40);

@font-face {
  font-family: 'Antonio';
  src: local('Antonio'), url(./Antonio-Medium.ttf) format('truetype');
}

#root {
  overflow-x: scroll;
}

.content {
  padding: 20px;
  display: inline-block;
}

.calendar-container {
  margin-bottom: 30px;
}

.main-header {
  font-size: 50px;
  margin: 0;
  margin-bottom: 10px;
  display: block;
  color: $textColor;
  font-family: Antonio;
}

.tab-container {
  display: flex;
}

.location-info {
  left: 10px;
  position: sticky;

  margin-right: 15px;
  font-size: 20px;
  margin-bottom: 20px;
  display: inline-block;

  color: $textColor;
  font-family: Antonio;
}

.table-container {
  display: flex;
  margin-right: 20px;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

  margin-right: -1px;
  border-right: 1px solid $borderColor;

  .clock {
    height: 30px;
  }
}

.more-container {
  display: flex;

  .more-button {
    width: 120px;
    display: block;
    font-size: 30px;
    color: #5f5f5f;

    cursor: pointer;
    background-color: white;
    border: 1px solid $borderColor;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    .chevron {
      height: 50px;
    }

    &:hover {
      background-color: #efefef;
    }

    &:focus {
      outline: none;
    }
  }
}

.date-header {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
}

body {
  //background-color: #f5f5f5;
}

table.main-table {
  background-color: #ffffff;

  border-collapse: collapse;
  border: 1px solid $borderColor;

  .sticky {
    left: 0;
    position: sticky;
    z-index: 9999;
    background-color: white;
    padding: 0;
  }

  .main-row {
    .sticky .time-info {
      height: 38px;
      display: flex;
      align-items: center;
      margin-right: -1px;
      border-right: 1px solid $borderColor;
    }
  }

  tr {
    &:hover {
      background-color: #f1f1f1;
    }

    //border: 1px solid #f3f3f3;
    td {
      //border-bottom: 1px solid lightgray;
    }

    td, th {
      text-align: left;
      border: none;
      border-right: 1px solid $borderColor;
    }

    th {
      padding: 10px;
      //background-color: #ececec;
      color: #606060;
      font-weight: normal;
    }

    td {
      font-weight: bold;

      .time-info {
        padding: 0 10px;
        display: block;
      }

      .color-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .color-indicator {
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 18px;

          color: white;

          &.free-0 {
            color: #606060;
          }

          &.free-1 {
            background-color: $color4;
          }

          &.free-2 {
            background-color: $color3;
          }

          &.free-3 {
            background-color: $color2;
          }

          &.free-4 {
            background-color: $color1;
          }
        }
      }
    }
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 14px;
  height: 14px;
  margin: 3px;
  border-radius: 50%;
  border: 2px solid #4a4a4a;
  border-color: #4a4a4a transparent #4a4a4a transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reserve-button {
  left: 10px;
  position: sticky;

  display: block;
  padding: 10px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: $color1;
  font-weight: bold;
  color: white;
  margin-top: 20px;

  transition: 150ms ease-in-out;
  &:hover {
    background-color: mix($color1, black, 80%);
  }
}
